//scss mediaqueries

@media (max-width: 768px) {
    .container-hero {
        img {
            width: 100%;
            height: auto;
        }

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}